[submodule "anim8"]
	path = modules/anim8
	url = https://github.com/kikito/anim8
[submodule "bump.lua"]
	path = modules/bump
	url = https://github.com/kikito/bump.lua
[submodule "hump"]
	path = modules/hump
	url = https://github.com/vrld/hump
[submodule "inspect.lua"]
	path = modules/inspect
	url = https://github.com/kikito/inspect.lua
