[submodule "modules/anim8"]
	path = modules/anim8
	url = https://github.com/kikito/anim8
[submodule "modules/hump"]
	path = modules/hump
	url = https://github.com/vrld/hump
[submodule "modules/bump"]
	path = modules/bump
	url = https://github.com/kikito/bump.lua
[submodule "modules/inspect"]
	path = modules/inspect
	url = https://github.com/kikito/inspect.lua.git
[submodule "modules/dkjson"]
	path = modules/dkjson
	url = https://github.com/LuaDist/dkjson.git
